.leftBlock {
  width: 100%; 
  padding: 3rem 4em;
}

#video {
  width: 100%
}

.sidebar {
  display: flex;
  margin-bottom: 1rem;
  padding: 0 2rem;
}

.sidebar_video_container {
 width: 80%;
 margin-bottom: 1rem;
}

.sidebar_video_container img {
  width: 100%;
}

.sidebar_video_description {
  width: 70%;
  padding-left: .5em;
}

.sidebar_video_description_title {
  font-size: 1rem;
  font-weight: 600;
  color: black;
}

.myVideoButton {
  background-color: #8AA2A9;
  border-radius: 60px;
  color: white;
  padding: 10px 16px;
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
}