.videos_box {
  position: relative;
  margin-bottom: 1vh;
}

.pclass {
  display: flex;
  justify-content: space-between;
}

.videos_box_detail {
  margin-left: 3rem;
}

.videos_box video {
  width: 100%;
  height: auto;
}

.duration {
  bottom: 9px;
  right: 4px;
  position: absolute;
  color: #fff;
  background: rgba(17, 17, 17, 0.8);
  opacity: 0.8;
  padding: 2px 4px;
  border-radius: 2px;
  letter-spacing: 0.5px;
  font-size: 12px;
  font-weight: 500;  
  line-height: 12px;
}

.duration span {
  bottom: 10px;
}